################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotAdam.Service/DotAdam.Service/obj
/DotAdam.Service/DotAdam.Service/bin
/DotAdam.Service/DotAdam.Service.Tests/obj
/DotAdam.Service/DotAdam.Service.Tests/bin
/DotAdam.Service/TestPackage/obj
/DotAdam.Service/TestPackage/bin
/DotAdam.Service/packages
/DotAdam.Service/obj
/DotAdam.Service/bin/Debug
/DotAdam.Service.Tests/obj
/DotAdam.Service.Tests/bin
/packages
