<?xml version="1.0" encoding="utf-8" ?>
<!-- https://github.com/nlog/nlog/wiki/Configuration-file -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false" internalLogFile="nlog.log" internalLogLevel="Warn" autoReload="true">

  <variable name="LogDir" value="${basedir}/logs"/>

  <!-- Console and File target -->
  <targets>

    <!-- 1024000 = 1000Ko * 10 ~ 10Mo -->
    <default-target-parameters xsi:type="File"
                               maxArchiveFiles="10"
                               archiveNumbering="Sequence"
                               archiveAboveSize="1024000"
                               keepFileOpen="false"
                               layout="${longdate} ${threadid} ${level:uppercase=true} ${logger} : ${message} ${exception:format=ToString,StackTrace}" />

    <target name="errorFile" xsi:type="File"
            fileName="${LogDir}/error.log"
            archiveFileName="${LogDir}/archives/error.{#######}.log"
            layout="${longdate} ${threadid} ${level:uppercase=true} : [${callsite}] ${message} ${exception:format=ToString,StackTrace}"/>

    <target name="debugFile" xsi:type="File"
            fileName="${LogDir}/debug.log"
            archiveFileName="${LogDir}/archives/debug.{#######}.log"/>

    <target name="infoFile" xsi:type="File"
            fileName="${LogDir}/info.log"
            archiveFileName="${LogDir}/archives/info.{#######}.log"/>

    <target name="console" xsi:type="ColoredConsole"
            layout="${level:uppercase=true} ${callsite}[${threadid}] ${message}${exception:format=ToString,StackTrace}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugFile" />
    <logger name="*" minlevel="Info" writeTo="infoFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />

    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>

</nlog>